.wrapper {
  padding: 50px 0;
  background-color: #f0f8ff;
  margin: 0;
  width: 100%;
  max-width: unset;
  .count-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 90%;
    padding: 14px 20px;
    width: 1240px;
    .content {
      padding: 24px;
      text-align: center;
      .count-number {
        color: #41b294;
        font-size: 50px;
        font-weight: 700;
      }
      .text {
        font-weight: 500;
      }
    }
  }
}
